<div class="heading">
    <div class="head">
    <h1>Popular Radio</h1>
</div>
<div class="p">
    <p>Show All</p>
</div>

</div>
    <div class="main">
<div class="Songcard">
    <div class="thumbnail">
        <img src="assets/thumbnail 1.jpeg" width="100%" height="100%"/>
    </div>
    <div class="songname">
        Arijit Singh Radio
    </div>
    <div class="discription">
        With Neha kakkar,Pritam,KK and More
    </div>
    </div>
    <div class="Songcard">
        <div class="thumbnail">
            <img src="assets/thumnail 5.jpeg" width="100%" height="100%"/>
        </div>
        <div class="songname1">
            Krishnakumar.K Ra..
        </div>
        <div class="discription">
            With Ankit tiwari,Mohit Chauhan and More
        </div>
        </div>
        <div class="Songcard">
            <div class="thumbnail">
                <img src="assets/thumbnail 3.jpeg" width="100%" height="100%"/>
            </div>
            <div class="songname2">
              Yo Yo Honey Singh
            </div>
            <div class="discription">
                With Neha kakkar,Pritam,KK and More
            </div>
            </div>
            <div class="Songcard">
                <div class="thumbnail">
                    <img src="assets/thumbnail 4.jpeg" width="100%" height="100%"/>
                </div>
                <div class="songname3">
                    Udit Narayan Radio
                </div>
                <div class="discription">
                    With Neha kakkar,Pritam,KK and More
                </div>
                </div>
                <div class="Songcard">
                    <div class="thumbnail">
                        <img src="assets/thumbnail 2.jpeg" width="100%" height="100%"/>
                    </div>
                    <div class="songname4">
                        Sidhu Moosewala
                    </div>
                    <div class="discription">
                        With Ammy verk,Amrit maan and More
                    </div>
                    </div>
                    <div class="Songcard">
                        <div class="thumbnail">
                            <img src="assets/thumbnail 6.jpeg" width="100%" height="100%"/>
                        </div>
                        <div class="songname5">
                            Shreya Ghoshal Radio
                        </div>
                        <div class="discription1">
                            By Spotify
                        </div>
                        </div>
                        </div>
                        <div class="heading">
                            <div class="head">
                            <h1>Popular Albums</h1>
                        </div>
                        <div class="p1">
                            <p>Show All</p>
                        </div>
                    </div>
                        <div class="main">
                            <div class="Songcard">
                                <div class="thumbnail">
                                    <img src="assets/thumbnail 7.jpeg" width="100%" height="100%"/>
                                </div>
                                <div class="songname7">
                                    ANIMAL
                                </div>
                                <div class="discription">
                                    With Manan bhardwaj,Vishal Nishra and Jaani.
                                </div>
                                </div>
                                <div class="Songcard">
                                    <div class="thumbnail">
                                        <img src="assets/thumbnail 8.jpeg" width="100%" height="100%"/>
                                    </div>
                                    <div class="songname8">
                                        Satranga (Animal)
                                    </div>
                                    <div class="discription">
                                        Arijit Singh,Shreyas Puranik and More
                                    </div>
                                    </div>
                                    <div class="Songcard">
                                        <div class="thumbnail">
                                            <img src="assets/thumbnail 9.jpeg" width="100%" height="100%"/>
                                        </div>
                                        <div class="songname6">
                                          Ashiqui 2
                                        </div>
                                        <div class="discription">
                                            Mithoon,Ankit tiwari and More
                                        </div>
                                        </div>
                                        <div class="Songcard">
                                            <div class="thumbnail">
                                                <img src="assets/thumbnail 10.jpeg" width="100%" height="100%"/>
                                            </div>
                                            <div class="songname9">
                                                Kabir singh
                                            </div>
                                            <div class="discription4">
                                                Various Artists
                                            </div>
                                            </div>
                                            <div class="Songcard">
                                                <div class="thumbnail">
                                                    <img src="assets/thumbnail 11.jpeg" width="100%" height="100%"/>
                                                </div>
                                                <div class="songname4">
                                                    Raaz(The Mystery)
                                                </div>
                                                <div class="discription3">
                                                    2008 Various Artists
                                                </div>
                                                </div>
                                                <div class="Songcard">
                                                    <div class="thumbnail">
                                                        <img src="assets/thumbnail 12.jpeg" width="100%" height="100%"/>
                                                    </div>
                                                    <div class="songname6">
                                                        Jannat 2
                                                    </div>
                                                    <div class="discription2">
                                                        2012.Pritam
                                                    </div>
                                                    </div>
                                                    </div>
                                                    <div class="heading">
                                                        <div class="head">
                                                        <h1>Marathi Love</h1>
                                                    </div>
                                                    <div class="p1">
                                                        <p>Show All</p>
                                                    </div>
                                                </div>
                                                    <div class="main">
                                                        <div class="Songcard">
                                                            <div class="thumbnail">
                                                                <img src="assets/BHIJUN.jpg" width="100%" height="100%"/>
                                                            </div>
                                                            <div class="songname">
                                                                 Bhijun Gela Wara
                                                            </div>
                                                            <div class="discription">
                                                                Ksitij Tarey,Nihira Joshi Deshpande.
                                                            </div>
                                                            </div>
                                                            <div class="Songcard">
                                                                <div class="thumbnail">
                                                                    <img src="assets/Majhi baay.jpg" width="100%" height="100%"/>
                                                                </div>
                                                                <div class="songname10">
                                                                    Majhi Baay Go
                                                                </div>
                                                                <div class="discription">
                                                                    Prashant Nakti,Sonali Sonawane,Keval Walanj.
                                                                </div>
                                                                </div>
                                                                <div class="Songcard">
                                                                    <div class="thumbnail">
                                                                        <img src="assets/Girlfriend.jpg" width="100%" height="100%"/>
                                                                    </div>
                                                                    <div class="songname11">
                                                                      Girlfriend Nastana
                                                                    </div>
                                                                    <div class="discription">
                                                                        Prashant Nakti,Sonali Sonawane
                                                                    </div>
                                                                    </div>
                                                                    <div class="Songcard">
                                                                        <div class="thumbnail">
                                                                            <img src="assets/Nauka.jpg" width="100%" height="100%"/>
                                                                        </div>
                                                                        <div class="songname">
                                                                             Ishakachi Nauka
                                                                        </div>
                                                                        <div class="discription">
                                                                            Shubhangi Kedare,Keval Walanj
                                                                        </div>
                                                                        </div>
                                                                        <div class="Songcard">
                                                                            <div class="thumbnail">
                                                                                <img src="assets/Naadkhula.jpg" width="100%" height="100%"/>
                                                                            </div>
                                                                            <div class="songname10">
                                                                                Mi Naadkhula
                                                                            </div>
                                                                            <div class="discription">
                                                                                Adarsh Shinde,Prashant Nakti
                                                                            </div>
                                                                            </div>
                                                                            <div class="Songcard">
                                                                                <div class="thumbnail">
                                                                                    <img src="assets/Apli yaari.jpg" width="100%" height="100%"/>
                                                                                </div>
                                                                                <div class="songname6">
                                                                                    Apli Yaari
                                                                                </div>
                                                                                <div class="discription">
                                                                                    Adarsh Shinde,Sonali Sonavne
                                                                                </div>
                                                                                </div>
                                                                                </div>
                                                                                <div class="heading">
                                                                                    <div class="head">
                                                                                    <h1>Popular Artists</h1>
                                                                                </div>
                                                                                <div class="p1">
                                                                                    <p>Show All</p>
                                                                                </div>
                                                                            </div>
                                                                                <div class="main">
                                                                                    <div class="Songcard">
                                                                                        <div class="thumbnail1">
                                                                                            <img src="assets/Pritam.jpg" width="100%" height="100%"/>
                                                                                        </div>
                                                                                        <div class="songname12">
                                                                                             Pritam
                                                                                        </div>
                                                                                        <div class="discription5">
                                                                                            Artist
                                                                                        </div>
                                                                                        </div>
                                                                                        <div class="Songcard">
                                                                                            <div class="thumbnail1">
                                                                                                <img src="assets/AR.jpg" width="100%" height="100%"/>
                                                                                            </div>
                                                                                            <div class="songname5">
                                                                                                A.R Rahman
                                                                                            </div>
                                                                                            <div class="discription5">
                                                                                                Artist
                                                                                            </div>
                                                                                            </div>
                                                                                            <div class="Songcard">
                                                                                                <div class="thumbnail1">
                                                                                                    <img src="assets/Arijit2.jpg" width="100%" height="100%"/>
                                                                                                </div>
                                                                                                <div class="songname13">
                                                                                                  Arijit Singh
                                                                                                </div>
                                                                                                <div class="discription5">
                                                                                                    Artist
                                                                                                </div>
                                                                                                </div>
                                                                                                <div class="Songcard">
                                                                                                    <div class="thumbnail1">
                                                                                                        <img src="assets/Shreya1.jpg" width="100%" height="100%"/>
                                                                                                    </div>
                                                                                                    <div class="songname13">
                                                                                                         Shreya Ghoshal
                                                                                                    </div>
                                                                                                    <div class="discription5">
                                                                                                        Artist
                                                                                                    </div>
                                                                                                    </div>
                                                                                                    <div class="Songcard">
                                                                                                        <div class="thumbnail1">
                                                                                                            <img src="assets/Alka.jpg" width="100%" height="100%"/>
                                                                                                        </div>
                                                                                                        <div class="songname13">
                                                                                                            Alka Yagnik
                                                                                                        </div>
                                                                                                        <div class="discription5">
                                                                                                            Artist
                                                                                                        </div>
                                                                                                        </div>
                                                                                                        <div class="Songcard">
                                                                                                            <div class="thumbnail1">
                                                                                                                <img src="assets/Anirudh.jpg" width="100%" height="100%"/>
                                                                                                            </div>
                                                                                                            <div class="songname12">
                                                                                                                Anirudh Ravichander
                                                                                                            </div>
                                                                                                            <div class="discription5">
                                                                                                                Artist
                                                                                                            </div>
                                                                                                            </div>
                                                                                                            </div>
                                                    