<div class="container">
    <div class="image">
<img src="assets/Spotify 1.png"/>
</div>
</div>

<div class="container1">
  <div class="main">
    <h2><div class="image1"><img width="70px" height="50px" src="assets/f1.png" alt="f logo"/></div>CONTINUE WITH FACEBOOK</h2><br/>
    <h3><div class="image2"><img width="29px" height="31px" src="assets/a1.png" alt="a logo"/></div>CONTINUE WITH APPLE</h3><br/>
    <h4><div class="image3"><img width="30px" height="26px" src="assets/g.png" alt="g logo"/></div>CONTINUE WITH GOOGLE</h4><br/>
    <h5><div class="image4"><img width="32px" height="30px" src="assets/p1.png" alt="p logo"/></div>CONTINUE WITH PHONE NUMBER</h5><br/>
    <div class="text-with-lines">
       Or
      </div>
  </div>
  <div class="textline">
    <p>Or</p>
  </div>
    <div class="logincontainer">
        <div>
            <label><strong>Email address or username</strong></label><br/>
            <input type="text" placeholder="Email address or username">
        </div>
        <div>
            <label><strong>Password</strong></label><br/>
            <input type="text" placeholder="Password"><br/>
            <label class="mt-3"><small><a [style.textDecoration]="'underline'"><b>Forgot your password?</b></a></small></label>
        </div>
        <div class="actionbtn">
            <input type="checkbox" id="rememberme"/>
            <label for="remember _me">
                <span>Remember me</span>
            </label>
            <div>
        <button class="loginbtn">LOG IN</button>
        </div>
           </div> 
           <div class="head">
           <h1>Dont't have an account?</h1>
           </div>
           <div class="btn">
            <button>SIGN UP FOR SPOTIFY</button>
           </div>
        </div>

