<div class="homecontainer row">
    <div class="homecontainer_sidebar col-2">
    <div class="homecontainer_sidebar-item">
    <img 
    width="150" class="m-3 text-left"
     src="assets/Spotify 1.png" alt="Spotify 1 logo"/></div>
    <div class="homecontainer_sidebar-item">
        <a>Home</a>
        </div>
        <div class="homecontainer_sidebar-item">
            <a>Search</a>
            </div>
            <div class="homecontainer_sidebar-item">
               <a>Your Library</a>
                </div>
                <div class="homecontainer_sidebar-item">
                    <a>Create Playlist</a>
                     </div>
                     </div>
                     
    <div class="homecontainer_playlistcontainer col-10">
        <app-top-nav></app-top-nav>
       <app-song-card></app-song-card>
    
    </div>
</div>
